/* About */

  
.about-container {
  background-color: #65b2ca;
  height : 100vh;
  color: #186690;
  padding-left: 20px;
}


.about img {
    width: 120px; /* set the desired width */
    height: 120px; /* set the desired height */
    border-radius: 8px; 
    float: left;    
    margin: 0 15px 0 0;
  }

  

.about-heading {
  font-size: 30pt;
  font-weight: bolder;
  padding: 20px 0 0 0;
  font-family: 'Grandstander', sans-serif;
}

.about-dev{
    display: flex;
    
}


.about-developers {
    display : flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 40vh;
    max-width: 80vh;
   
  }



.about-name-url{
  font-size: larger;
}

.about-Kenti {
  
}

.about-Jennifer {
 
}

.about-Dennys {
  
}
  /* color pallete from  https://thecameronteam.net/15-color-palettes-inspired-by-the-ocean/
  Rough Ocean In Color Balance
light to dark
dde8f0  foamish
028abd
97cbdc
004581
001b48 almost black 


  
  */
