.navbar {
  align-items: center;
  border: 2px solid #1F93B6;
  background-color: #65B2CA;
  display: flex;
  font-size: 2.5em;
  flex-direction: row;
  justify-content: center;
}
.navbar__header{
  font-family: Grandstander;
  font-weight: 900;
  padding: 20px 0 10px 0px;
  color: #186690;
}

#aboutBox{
  font-weight: 400;
}